.content {
    margin-top: 2%;
    margin-bottom: 2%;
}

.quality {
    margin-bottom: 1%;
    padding: 1%;
    background: whitesmoke;
    border-right: 1px solid #dee2e6;;
}

.words {
    font-size: 12px;
    margin-bottom: 0;
}